Repository twelve345/tom-cruise-running-analysis: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, secretlint

Add interactive frontend and update seed data
  .gitignore
  backend/db/init.sql
  backend/scripts/seedDb.js
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/filmography/FilmographyExplorer.tsx
  frontend/src/components/stats/StatsSection.tsx
  frontend/src/components/visualizations/VisualizationsSection.tsx
  frontend/src/graphql/client.ts
  frontend/src/graphql/queries.ts
  frontend/src/index.css
  frontend/src/test/setup.ts
  frontend/src/utils/distanceCategories.ts
  frontend/tailwind.config.js
  frontend/tsconfig.app.json
  frontend/vite.config.ts
  package-lock.json
  package.json
  tomcruiserunnningtime.html
Due: prettier --write, eslint --fix, secretlint

Refactor GraphQL resolvers for hybrid DB support
  README.md
  backend/db/init.sql
  backend/graphql/resolvers.js
  backend/graphql/resolvers.js.backup
  backend/graphql/schema.js
  backend/package.json
  backend/scripts/enrichedMovieData.json
  backend/scripts/extract295Instances.js
  backend/scripts/extracted295instances.json
  backend/scripts/fetchRuntimes.js
  backend/scripts/migrations/001_update_durations.js
  backend/scripts/migrations/002_update_runtimes.js
  backend/scripts/seedDb.js
  backend/scripts/seedMongo.js
  backend/services/tmdb.js
  frontend/public/tmdb-logo-long.svg
  frontend/public/tmdb-logo.svg
  frontend/src/App.tsx
  frontend/src/components/common/DataSourceBadge.tsx
  frontend/src/components/filmography/FilmographyExplorer.tsx
  frontend/src/components/layout/AttributionFooter.tsx
  frontend/src/components/layout/CreditsModal.tsx
  frontend/src/components/metrics/MetricsExplanation.tsx
  frontend/src/components/visualizations/VisualizationsSection.tsx
  frontend/src/graphql/queries.ts
  frontend/src/pages/CreditsPage.tsx
  frontend/src/utils/distanceCategories.ts
  package-lock.json
Due: prettier --write, eslint --fix, secretlint

Unignore .claude/ directory in .gitignore
  .gitignore
Due: none

Remove CONTRIBUTING.md documentation
  CONTRIBUTING.md
Due: prettier --write, secretlint

Add migration runner and Railway deployment scripts
  backend/Dockerfile
  backend/package.json
  backend/scripts/migrate.js
  backend/scripts/migrations/003_sync_film_data.js
  backend/scripts/migrations/004_add_unique_constraint_films.js
  backend/scripts/startup.sh
  railway.json
Due: prettier --write, eslint --fix, secretlint

Remove unused variable in label callback
  frontend/src/components/visualizations/VisualizationsSection.tsx
Due: prettier --write, eslint --fix, secretlint

Switch startup script to POSIX shell
  backend/package.json
  backend/scripts/startup.sh
Due: prettier --write, secretlint

Add GraphQL types and apply to queries
  frontend/src/components/filmography/FilmographyExplorer.tsx
  frontend/src/components/stats/StatsSection.tsx
  frontend/src/components/visualizations/VisualizationsSection.tsx
  frontend/src/graphql/types.ts
Due: prettier --write, eslint --fix, secretlint

Add TypeScript check to frontend lint-staged config
  .lintstagedrc.json
Due: prettier --write, secretlint

Add CI workflow and enhance lint/test configs
  .github/workflows/ci.yml
  .husky/pre-push
  .lintstagedrc.json
  frontend/eslint.config.js
Due: prettier --write, secretlint

Refactor linting and type check configs for frontend/backend
  .github/workflows/ci.yml
  .husky/pre-push
  .lintstagedrc.json
  backend/.lintstagedrc.json
  backend/eslint.config.js
  frontend/.lintstagedrc.json
  frontend/eslint.config.js
Due: prettier --write, eslint --fix, secretlint

Enhance pre-push hook with lint and security checks
  .husky/pre-push
Due: none

Update unused variable handling and error patterns
  .husky/pre-push
  backend/eslint.config.js
  backend/graphql/resolvers.js
  backend/scripts/seedMongo.js
Due: prettier --write, eslint --fix, secretlint

Refactor chart code to use proper Chart.js types
  frontend/eslint.config.js
  frontend/src/components/visualizations/VisualizationsSection.tsx
Due: prettier --write, eslint --fix, secretlint

Fix import path and chart config in visualizations
  backend/scripts/migrations/001_update_durations.js
  frontend/src/components/visualizations/VisualizationsSection.tsx
Due: prettier --write, eslint --fix, secretlint

Replace logical OR with nullish coalescing operator
  frontend/src/components/filmography/FilmographyExplorer.tsx
  frontend/src/components/visualizations/VisualizationsSection.tsx
Due: prettier --write, eslint --fix, secretlint

Fix chart context type for CPI scatter plot
  frontend/src/components/visualizations/VisualizationsSection.tsx
Due: prettier --write, eslint --fix, secretlint

Add VITE_API_URL build argument to Dockerfile
  frontend/Dockerfile
Due: none

Rename migration files for correct sequence
  backend/scripts/migrations/003_add_unique_constraint_films.js
  backend/scripts/migrations/004_sync_film_data.js
Due: prettier --write, eslint --fix, secretlint

Add env examples and improve CORS and Docker validation
  backend/.env.example
  backend/index.js
  frontend/.env.example
  frontend/Dockerfile
Due: prettier --write, eslint --fix, secretlint

Update API URL instructions in .env.example
  frontend/.env.example
Due: none

Update favicon and page title
  frontend/index.html
  frontend/public/favicon.svg
Due: none

Refactor CORS and GraphQL endpoint handling
  backend/index.js
Due: prettier --write, eslint --fix, secretlint

Remove redundant OPTIONS handler for /graphql
  backend/index.js
Due: prettier --write, eslint --fix, secretlint

Add global request logger and relax CORS for debugging
  backend/index.js
Due: prettier --write, eslint --fix, secretlint

Refactor server startup and remove unused variables
  backend/index.js
Due: prettier --write, eslint --fix, secretlint

Add diagnostic logging to backend startup and scripts
  backend/index.js
  backend/scripts/startup.sh
Due: prettier --write, eslint --fix, secretlint

Add db:seed-mongo script and fix prop type
  backend/package.json
  frontend/src/components/filmography/FilmographyExplorer.tsx
Due: prettier --write, eslint --fix, secretlint

Migrate frontend to GraphQL Codegen client preset
  backend/package.json
  frontend/codegen.ts
  frontend/package.json
  frontend/schema.graphql
  frontend/src/components/filmography/FilmographyExplorer.tsx
  frontend/src/components/stats/StatsSection.tsx
  frontend/src/components/visualizations/VisualizationsSection.tsx
  frontend/src/gql/gql.ts
  frontend/src/gql/graphql.ts
  frontend/src/gql/index.ts
  frontend/src/graphql/queries.ts
  frontend/src/graphql/types.ts
  package-lock.json
Due: prettier --write, eslint --fix, secretlint

Fix scatter chart filter for null scores
  frontend/src/components/visualizations/VisualizationsSection.tsx
Due: prettier --write, eslint --fix, secretlint

Clarify comments for TypeScript config options
  frontend/codegen.ts
Due: prettier --write, eslint --fix, secretlint

Refactor schema export script in backend
  backend/package.json
  backend/scripts/exportSchema.js
  frontend/schema.graphql
Due: prettier --write, eslint --fix, secretlint

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,css,md}
  eslint --fix: (any of: backend/**/*.js) or (any of: frontend/**/*.{ts,tsx})
  secretlint: any of: **/*.{js,jsx,ts,tsx,json,md}
